
.Track {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    padding-top: 10px;
    text-align: start;
    margin-right: 5px;
}

.songTitle {
    display: flex;
    align-items: center;
}

.playButton {
    border-radius: 50%;
    border: none;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 10px;
}

.songInfo {
    max-width: 80%;
}

.trackButton {
    background-color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin: auto 5px;
}

.playButton:hover {
    background-color: black;
    color: white
}

.trackButton:hover {
    background-color: black;
    color: white
}